.header.header-reviews{
    overflow: visible;
}

.footer-reviews {
    background-color: #0ba397;
}
.reviews-second {
    background-color: #fff;
}

.block___overflow {
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}