@import "global";
@import "var";
@import "vendor";
@import "fonts";

.header-btn {
    position: absolute;
    display: none;
    right: 25px;
    width: 45px;
    height: 45px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    z-index: 11;
}

.header-btn__line {
    width: 35px;
    height: 2px;
    background-color: #fff;
    display: block;
    position: absolute;
    transition: all 0.4s ease-in-out;
}

.header-btn__line:nth-child(1) {
    top: 10px;
}

.header-btn__line:nth-child(3) {
    bottom: 10px;
}

.header {
    /* Верхнее меню начало */
    &-top {
        display: flex;
        align-items: center;
        margin-top: 40px;
    }
    &-top__link {
        margin-right: auto;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
    }

    &-nav__link:not(:last-child) {
        margin-right: 45px;
    }

    &-nav__link {
        transition: color 0.3s ease-in-out;
    }
    &-nav__link:hover {
        color: #fff;
    }
    &-top__phone {
        margin-left: auto;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        transition: color 0.3s ease-in-out;
    }
    &-top__phone:hover {
        color: #fff;
    }
    /* Верхнее меню конец*/

    /* Главный header */
    background-color: #0ba397;
    overflow: hidden;
    position: relative;
    &-container {
        background-image: url("../images/car-1.png");
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: 700px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__box-image {
        position: relative;
        bottom: -10px;
        right: 150px;
    }

    &__box::after {
        content: "";
        position: absolute;
        width: 170px;
        height: 170px;
        bottom: 17%;
        right: 46%;
        border-radius: 50%;
        background-color: #1f7780;
        z-index: 2;
        transition: all 0.2s ease-out;
    }

    &__box:hover::after {
        transform: scale(1.1);
    }

    &__box::before {
        content: "";
        position: absolute;
        width: 170px;
        height: 170px;
        bottom: 17%;
        right: 46%;
        border-radius: 50%;
        background-color: #fff;
        z-index: 1;
        opacity: 0.7;
        animation: pulse 2s ease-in-out infinite;
    }

    &__box-img {
        width: 400px;
        height: 500px;
        object-fit: cover;
    }

    &__box-svg {
        position: absolute;
        width: 100px;
        height: 100px;
        bottom: 23%;
        right: 52%;
        z-index: 10;
    }

    @keyframes pulse {
        100% {
            transform: scale(1.4);
            opacity: 0;
        }
    }

    &__info {
        max-width: 480px;
        margin-top: 60px;
        padding-bottom: 80px;
    }

    &__info-title {
        font-weight: 700;
        font-size: 70px;
        line-height: 68px;
        margin-bottom: 20px;
    }

    &__info-subtext {
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        margin-bottom: 185px;
    }

    &__icon {
        width: 50px;
        height: 30px;
    }
    &__icon:not(:last-child) {
        margin-right: 130px;
    }

    &__sub-btn {
        font-family: "Montserrat", sans-serif;
        width: 90%;
        background-color: #50dbd0;
        border: none;
        margin: 0 auto;
        padding: 13px 15px;
        border-radius: 5px;
        color: #000;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        display: none;
    }
}

/* Главный header конец */

/* Главная about */
.about {
    padding-top: 90px;
    padding-bottom: 40px;

    counter-reset: counter;
    &__title {
        margin-bottom: 60px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 500px));
        justify-content: center;
        gap: 70px 80px;
    }

    &__box {
        padding-left: 90px;
        position: relative;
    }
    &__box::before {
        counter-increment: counter;
        content: "0" counter(counter);
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(-50%);
        font-weight: 300;
        font-size: 50px;
        line-height: 61px;
        z-index: 3;
    }

    &__box:nth-child(n + 10)::before {
        counter-increment: counter;
        content: counter(counter);
    }

    &__box::after {
        content: "0" counter(counter);
        position: absolute;
        color: #fed100;
        left: 3px;
        bottom: 0;
        transform: translateY(-50%);
        font-weight: 300;
        font-size: 50px;
        line-height: 61px;
        z-index: 2;
    }

    &__box:nth-child(n + 10):after {
        content: counter(counter);
    }

    &__text {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    &__subtext {
        font-size: 16px;
        line-height: 21px;
    }
}

/* Конец about */

/* Начало price  */
.price {
    padding-top: 50px;
    padding-bottom: 50px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 400px));
        justify-content: center;
        gap: 20px 20px;
    }

    &__box {
        display: grid;
        align-content: space-between;
        padding: 80px 10px;
        border: 1px solid #0ba397;
        text-align: center;
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 60px;
    }

    &__lists {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 20px;
    }

    &__sum {
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        margin-bottom: 50px;
    }

    &__btn {
        background-color: #0ba397;
        color: #fff;
    }
}

/* Конец price  */

/* Начало autopark */

.autopark {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-x: hidden;
    &__btns {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    &__btn:not(:last-child) {
        margin-right: 20px;
    }

    &__swiper {
        margin-top: 50px;
        display: none;
    }
}



/* Начало Слайдера */

.park {
    &-slide {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 auto;
        margin-bottom: 50px;
        overflow: hidden;
        box-sizing: border-box;
    }

    &__info {
        margin-top: 60px;
        max-width: 250px;
        width: 100%;
    }
    &__media-info {
        padding-top: 20px;
        display: none;
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 40px;
    }

    &__list {
        padding-left: 30px;
        margin-bottom: 35px;
        position: relative;
    }
    &__lists {
        font-size: 16px;
        line-height: 21px;
    }
    &__lists::before {
        content: "";
        position: absolute;
        left: 0;
        transform: translateY(20%);
        background-image: url("../images/tick.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 14px;
        height: 14px;
    }

    &__lists:not(:last-child) {
        margin-bottom: 30px;
    }
    &__btn {
        background-color: #0ba397;
        color: #fff;
    }

    &__images {
        max-width: 650px;
        max-height: 450px;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    &__media-info {
        text-align: center;
    }
    /* Пагинация swiper начало*/
    &-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }
    &-pagination .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        background-color: #000;
        opacity: 1;
       margin-right: 10px;
    }

    &-pagination .swiper-pagination-bullet {
      
       margin-right: 20px !important;
    }

    &-pagination .swiper-pagination-bullet-active {
        width: 10px;
        height: 10px;
        position: relative;
    }



    &-pagination .swiper-pagination-bullet-active::after {
        content: "";
        position: absolute;
        border: 2px solid #fed100;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    /* Пагинация swiper конец*/


    /* стрелки swiper начало */
    &-button-prev {
        background-image: url("../images/arrow-left.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 7px;
        height: 15px;
    }

    &-button-next {
        background-image: url("../images/arrow-right.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 7px;
        height: 15px;
    }
    /* стрелки swiper конец */


}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}


.swiper-show {
    display: block;
}



/* Конец Слайдера */

/* Конец autopark */

@import "media";
